PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://akhilangalakuduru005_db_user:F9fS4dhDZYWRY5ZI@cluster0.a5yzqsl.mongodb.net/?retryWrites
CLOUDINARY_CLOUD_NAME=dy7bn76x
CLOUDINARY_API_KEY=322141348382352
CLOUDINARY_API_SECRET=Wym6qeHYnzcapzfll6cj8hS9FOY
UPSTASH_REDIS_URL="https://related-imp-188350.upstash.io"
UPSTASH_REDIS_TOKEN="gQAAAAAAAt--AAIgcDIzMTllZmYwZjVhNDk0ZjRjYWZlYjgyOTk2NGNhZmZkZQ"
